@import "./scss/variables";
.gray-5 {
    background-color: $gray-500;
}

.gray-4 {
    background-color: $gray-400;
}

.gray-9 {
    background-color: $gray-900;
}

.gray-text-1 {
    color: $gray-100;
}

.gray-1 {
    background-color: $gray-100;
}