@import "../../../../util/utilColor.scss";
.card-color {
    background-color: #2c2b2b;
    text-align: center;
    & li {
        background-color: inherit;
        color: inherit;
    }
}

.border {
    border-bottom: 1px solid gray;
}

.crd-style {
    flex: 0 1rem !important;
}

input:-internal-autofill-selected {
    background-color: black !important;
}

div table thead thead tr {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
}

.pa-color {
    background-color: inherit;
    color: white;
}