@import "../../util/utilFonst.scss";

.bg-color {
    background-color: #18191c;
}

.b1 {
    background-color: #f15d22;
}

.b2 {
    background-color: #e5c200;
}

.b3 {
    background-color: #869ab8;
}

.b4 {
    background-color: #434d5c;
}

.b5 {
    background-color: #0213ab;
}

.b6 {
    background-color: #3442bb;
}

.b7 {
    background-color: #8b90a1;
}
