@import "../../Nutrition/style-nutrition.scss";
@import "../../../util/scss/variables";
.visibility {
    display: none;
}

.visibility-vi {
    display: block;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    opacity: 0.5;
    background-color: rgb(15, 15, 15);
}

.child {
    z-index: 500 !important;
    opacity: 1 !important;
    background-color: rgb(10, 10, 10) !important;
    position: fixed !important;
    top: 6%;
    left: 25%;
}

.d-flex input {
    border-bottom: none !important;
}

.pointer {
    cursor: pointer;
}